<div class="container">
  <div class="col-xs-12 col-sm-9">
    <div class="jumbotron">
      <h2>Addons</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th> 
          <th>Price</th>
          <th></th>
        </tr>
        <tr>
          <td>Ditry Bed</td>
          <td>Very dirty bed</td>
          <td>2.00</td>
          <td>Edit</td>
        </tr>
      </table>
      <button type="button" class="btn btn-primary">Add Package</button>
    </div>
  </div>
</div>


