<div class="container">
  <div class="col-xs-12 col-sm-9">
    <div class="jumbotron">
      <h2>Discounts</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Threshold</th> 
          <th>Equator</th>
          <th>Amount</th>
          <th></th>
        </tr>
        <tr>
          <td>2nd Visit Discount</td>
          <td>2</td>
          <td>equal</td>
          <td>0.50</td>
          <td>Edit</td>
        </tr>
      </table>
      <button type="button" class="btn btn-primary">Add Package</button>
    </div>
  </div>
</div>


