<div class="container">
  <div class="col-xs-12 col-sm-9">
    <div class="jumbotron">
      <h2>Exceptions</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th> 
          <th></th>
        </tr>
        <tr>
          <td>Open Bed</td>
          <td>Bed is let down</td>
          <td>Edit</td>
        </tr>
      </table>
      <button type="button" class="btn btn-primary">Add Package</button>
    </div>
  </div>
</div>


